<form action="/comment" method="post" style="border-style: inset; padding:40px; margin-right: 270px; margin-left:270px">
    
    <label>Name :</label>
    <input type="text" name="name">
    <br>
    <br>
    <label>Email :</label>
    <input type="text" name="email">
    <br>
    <br>
    <label>Leave A Comment:</label>
    <br>
    <textarea type="text" name="comment">
 
    </textarea>
    <br>
    <input type="submit" value="Comment">
</form>